<% @layout_body_class="signin" %>

<section class="main">
  <div class="inner">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
             :html => {:class => "signin-form"}) do |f| %>
      <div class="item required">
        <%= f.text_field :login, :class => "field", :placeholder => "Логин или e-mail", :autocomplete => "off",
                                 :required => true, :autofocus => true %>
      </div>
      <div class="item required">
        <%= f.password_field :password, :class => "field", :placeholder => "Пароль", :required => true %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="item">
          <input name="user[remember_me]" type="hidden" value="0" />
          <input type="checkbox" class="remember hidden">
          <label for="remember" class="check"><small>Запомнить меня</small></label>
        </div>
      <% end %>

      <div class="item">
        <button type="submit" class="btn" disabled>Войти</button>
      </div>
      <div class="item">
        <span><small>Забыли пароль? <a href="#/">Напомнить</a></small></span>
        <span><small>У вас есть 3D-принтер? <%= link_to "Зарегистрироваться", new_registration_path(resource_name) %></small></span>
      </div>
    <% end %>

  </div>
</section>
